<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../../static/images/MBTIUnicorn.png"
          th:href="@{../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../static/css/default.css"
          th:href="@{../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <title>Rationalist Profile</title>

</head>
<body>
<h1>Rationalist Profile</h1>

<p><b>Rationalists</b> are abstract in speech and utilitarian in pursuing their goals. Their greatest strength is strategy.
</p>
<p>As the knowledge-seeking temperament, Rationals trust reason implicitly. They rely on objective observations and factual analysis in any given situation. They seek a logical argument as a basis for action. As strategists, Rationalists strive to gain as much information as possible, applying what they learn to develop long-term plans and the steps for achieving them. They are characterized by a tough-minded personal style, tending to pursue either power or understanding. They are often strong-willed, ambitious, intelligent, and self-determined. Subjective thoughts and emotion have no place in the decision-making process of a Rationalist. Driven to excel, they work hard to achieve their goals, and they do well where they can take control or work independently on a task.
</p>
<p><b>Interests:</b> Rationalists are drawn to science and technology. They usually seek careers involving systems—whether mechanical or electrical (as in engineering), organic (as in biology), social (as in psychology or sociology), or organizational (as in business or economics).
</p>
<p><b>Orientation:</b> Rationalists are pragmatic about the world around them, having little use for social convention or sentiment except as a means to an end. They weigh logical outcomes before acting, looking for errors in reasoning—in themselves and others. Many often believe that ethical concepts like good and evil are relative, depending on one's particular point of view.[citation needed] They regard time as the duration of events rather than as a continuum. They view place as the intersection of two crossing lines (as in Cartesian coordinates, for example).
</p>
<p><b>Self-image:</b> The Rationalists' self-esteem is rooted in their ingenuity; their self-respect in their autonomy; and their self-confidence in their resoluteness.
</p>
<p><b>Values:</b> Rationalists appear calm even in times of turmoil. They achieve this state through an intense concentration of effort rather than through cold-heartedness. They trust reason and strive for achievement. They are knowledge-seekers who aspire to technical wizardry, and so are pleased when others defer to their expertise.
</p>
<p><b>Social roles:</b> In romantic relationships, Rationalists want a mindmate with whom they can discuss the topics that interest them, which are often abstract or theoretical, such as philosophy. As parents, they encourage their children to become self-reliant individuals capable of thinking for themselves. In their professional and social lives, Rationalists are visionary leaders, developing and consolidating coherent long-term plans.
</p>
<p><b>Stress:</b> When under stress, Rationalists may intellectualize or repress their feelings. When confronted with negative consequences in their endeavors, Rationalists may experience feelings of incompetence, especially if they are not emotionally intelligent. They are frustrated by inefficiency or the perceived illogical behaviours of others.
</p>

</body>
</html>