<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../../../static/images/MBTIUnicorn.png"
          th:href="@{../../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../../static/css/default.css"
          th:href="@{../../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <title>ENFP</title>

</head>
<body>
<h1>ENFP</h1>

<ul>
<li>Extraversion: ENFPs love to interact with lots of people. Socializing helps them to feel energized and renewed.</li>
<li>Intuition: ENFPs generally focus on the world of possibilities. They are good at abstract thinking and prefer not to concentrate on the tiny details. They are inventive and focused on the future.</li>
<li>Feeling: When making decisions, ENFPs place a greater value on feelings and values rather than on logic and objective criteria. They tend to follow their heart, empathize with others, and let their emotions guide their decisions.</li>
<li>Perceiving: ENFPs are flexible and like to keep their options open. They can be spontaneous and are highly adaptable to change. They also dislike routine and may have problems with disorganization and procrastination.</li>
</ul>

<p>ENFPs Are Extroverted
<br/>ENFPs are extroverts, which means that they love spending time with other people.
</p>

<p>Socializing actually gives them more energy, helping them to feel renewed, refreshed, and excited about life. While other types of extraverts tend to dislike solitude, ENFPs do have a need for some alone time in order to think and reflect.
</p>

<p>Psychologist David Keirsey identifies ENFPs as "Champions," which he suggests are rather rare.
</p>

<p>"Champions can be tireless in talking with others, like fountains that bubble and splash, spilling over their own words to get it all out," Keirsey suggests. "And usually this is not simple storytelling; Champions often speak (or write) in the hope of revealing some truth about human experience, or of motivating others with their powerful convictions."
</p>

<p>They also have excellent people skills. In addition to having an abundance of enthusiasm, they also genuinely care about others. ENFPs are good at understanding what other people are feeling. Given their zeal, charisma, and creativity, they can also make great leaders.
</p>

<p>ENFPs Are Forward-Thinking
<br/>People with this personality type strongly dislike routine and prefer to focus on the future.
</p>

<p>While they are great at generating new ideas, they sometimes put off important tasks until the last minute. Dreaming up ideas but not seeing them through to completion is a common problem.
</p>

<p>ENFPs can also become easily distracted, particularly when they are working on something that seems boring or uninspiring.
</p>

</body>
</html>