<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../../../static/images/MBTIUnicorn.png"
          th:href="@{../../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../../static/css/default.css"
          th:href="@{../../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <title>INFP</title>

</head>
<body>
<h1>INFP</h1>

    <ul>
        <li>Introversion (I): How do you relate to the world and focus your energy?</li>
        <li>Intuition (N): How do you perceive information?</li>
        <li>Feeling (F): How do you make decisions?</li>
        <li>Perceiving (P): How to you orient yourself to the outside world?</li>
    </ul>

    <p>INFPs Are Introverts
    <br/>INFPs tend to be introverted, quiet and reserved.
    </p>

    <p>
    Being in social situations tends to drain their energy and they prefer interacting with a select group of close friends. While they like to be alone, this should not necessarily be confused with shyness. Instead, it simply means that INFPs gain energy from spending time alone. On the other hand, they have to expend energy in social situations.
    </p>

    <p>INFPs Are Intuitive
        <br/>INFPs typically rely on intuition and are more focused on the big picture rather than the nitty-gritty details. They can be quite meticulous about things they really care about or projects they are working on but tend to ignore mundane or boring details.
    </p>

    <p>INFPs Are Influenced by Emotions
    <br/>INFPs place an emphasis on personal feelings and their decisions are more influenced by these concerns rather than by objective information.
    <br/>They also dislike conflict and try to avoid it. When conflicts or arguments do arise, they usually focus more on how the conflict makes them feel rather than the actual details of the argument. During arguments, they might seem overly emotional or even irrational. However, they can also be good mediators by helping the people involved in a conflict identify and express their feelings.
    <br/>When it comes to making decisions, INFPs like to keep their options open. They often delay making important decisions just in case something about the situation changes.
    <br/>When decisions are made, they are usually based on personal values rather than logic.
    </p>

    <p>INFPs Have a Close Circle of Friends
    <br/>Because they are so reserved and private, it can be difficult for other people to get to know INFPs. They tend to be quite devoted to their circle of close friends and family and place a high importance on the feelings and emotions of their loved ones. Much of their energy is focused inward and characterized by intense feelings and strong values. They tend to be very loyal to the people they love and to beliefs and causes that are important to them.
    </p>

    <p>INFPs Have Strong Interests and Values
    <br/>INFPs tend to be very creative, artistic and spiritual. They are often skilled with language, but may prefer to express their thoughts and feelings through writing. Because they have strong ethics and values, they also become passionate about advocating or defending their beliefs. While they feel strongly about their own values, INFPs are also interested in learning more about others and are willing to listen and consider many sides of an issue.
    <br/>INFPs also have strong interests in making the world a better place. In addition to wanting to gain a greater understanding of themselves and how they fit into the world, they are also interested in how they can best help others. People with this personality type spend a lot of time exploring their own purpose in life and thinking about how they can use their skills and talents to best serve humanity.
    </p>

</body>

</html>