<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>MBTI TESTER</title>

    <link rel="shortcut icon" href="../../../static/images/MBTIUnicorn.png"
          th:href="@{../../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../../static/css/default.css"
          th:href="@{../../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<h1>Welcome To Your Myers-Briggs Type Indicator Test</h1>

<div fragment="content">
    <form action="#" th:action="@{getResults}" th:object="${POST}" method="post">
        <fieldset>
            <legend>Please answer the following questions:</legend>

            <table class="table table-striped">
                <tr th:each="mbti : ${mbtis}">
                    <td th:text="${mbti.id}"><a href="/mbti/${mbti.id}">Id</a></td>
                    <td th:text="${mbti.subject}">subject</td>
                    <td th:text="${mbti.question}">question</td>
                    <td>
                        <input type="radio" name="answer" value="1" style="border: none;">Yes</input>
                        <input type="radio" name="answer" value="0" style="border: none;">No</input>

                            <!--<input type="radio" th:field="${mbti.answer}" th:value="0"  style="border: none;">No</input>-->
                            <!--<input type="radio" th:field="${mbti.answer}" th:value="1" style="border: none;">Yes</input>-->
                        </td>
                    </tr>
                </table>
            <div>
                <p><b>Question 1</b> Q1</p>
                <output th:type="text" th:name="Question1"></output>
                <input type="radio" name="q1" value="EXTROVERSION" style="border: none;">Yes</input>
                <input type="radio" name="q1" value="INTROVERSION" style="border: none;">No</input>
                <p><b>Question 2</b> Q2</p>
                <input type="radio" name="q2" value="EXTROVERSION" style="border: none;">Yes</input>
                <input type="radio" name="q2" value="INTROVERSION" style="border: none;">No</input>
                <p><b>Question 3</b> Q3?</p>
                <input type="radio" name="q3" value="EXTROVERSION" style="border: none;">Yes</input>
                <input type="radio" name="q3" value="INTROVERSION" style="border: none;">No</input>
                <p><b>Question 4</b> Q4</p>
                <input type="radio" name="q4" value="INTROVERSION" style="border: none;">Yes</input>
                <input type="radio" name="q4" value="EXTROVERSION" style="border: none;">No</input>
                <p><b>Question 5</b> Q5</p>
                <input type="radio" name="q5" value="INTROVERSION" style="border: none;">Yes</input>
                <input type="radio" name="q5" value="EXTROVERSION" style="border: none;">No</input>

                <p><b>Question 6</b> Q5</p>
                <input type="radio" name="q6" value="SENSING" style="border: none;">Yes</input>
                <input type="radio" name="q6" value="INTUITION" style="border: none;">No</input>
                <p><b>Question 7</b> Q7</p>
                <input type="radio" name="q7" value="SENSING" style="border: none;">Yes</input>
                <input type="radio" name="q7" value="INTUITION" style="border: none;">No</input>
                <p><b>Question 8</b> Q8</p>
                <input type="radio" name="q8" value="SENSING" style="border: none;">Yes</input>
                <input type="radio" name="q8" value="INTUITION" style="border: none;">No</input>
                <p><b>Question 9</b> Q9</p>
                <input type="radio" name="q9" value="INTUITION" style="border: none;">Yes</input>
                <input type="radio" name="q9" value="SENSING" style="border: none;">No</input>
                <p><b>Question 10</b> Q10</p>
                <input type="radio" name="q10" value="INTUITION" style="border: none;">Yes</input>
                <input type="radio" name="q10" value="SENSING" style="border: none;">No</input>

                <p><b>Question 11</b> Q11</p>
                <input type="radio" name="q11" value="THINKING" style="border: none;">Yes</input>
                <input type="radio" name="q11" value="FEELING" style="border: none;">No</input>
                <p><b>Question 12</b> Q12</p>
                <input type="radio" name="q12" value="THINKING" style="border: none;">Yes</input>
                <input type="radio" name="q12" value="FEELING" style="border: none;">No</input>
                <p><b>Question 13</b> Q13</p>
                <input type="radio" name="q13" value="THINKING" style="border: none;">Yes</input>
                <input type="radio" name="q13" value="FEELING" style="border: none;">No</input>
                <p><b>Question 14</b> Q14</p>
                <input type="radio" name="q14" value="FEELING" style="border: none;">Yes</input>
                <input type="radio" name="q14" value="THINKING" style="border: none;">No</input>
                <p><b>Question 15</b> Q15</p>
                <input type="radio" name="q15" value="FEELING" style="border: none;">Yes</input>
                <input type="radio" name="q15" value="THINKING" style="border: none;">No</input>

                <p><b>Question 16</b> Q16</p>
                <input type="radio" name="q16" value="PERCEIVING" style="border: none;">Yes</input>
                <input type="radio" name="q16" value="JUDGING" style="border: none;">No</input>
                <p><b>Question 17</b> Q17</p>
                <input type="radio" name="q17" value="PERCEIVING" style="border: none;">Yes</input>
                <input type="radio" name="q17" value="JUDGING" style="border: none;">No</input>
                <p><b>Question 18</b> Q18</p>
                <input type="radio" name="q18" value="PERCEIVING" style="border: none;">Yes</input>
                <input type="radio" name="q18" value="JUDGING" style="border: none;">No</input>
                <p><b>Question 19</b> Q19</p>
                <input type="radio" name="q19" value="JUDGING" style="border: none;">Yes</input>
                <input type="radio" name="q19" value="PERCEIVING" style="border: none;">No</input>
                <p><b>Question 20</b> Q20</p>
                <input type="radio" name="q20" value="JUDGING" style="border: none;">Yes</input>
                <input type="radio" name="q20" value="PERCEIVING" style="border: none;">No</input>

            </div>
            <button type="submit" class="btn">submit</button>
        </fieldset>
    </form>
</div>

</body>
</html>



