<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>MBTI TESTER</title>

</head>
<body>
<h1>Welcome To Your Myers-Briggs Type Indicator Test</h1>

<div fragment="content">
    <form action="#" th:action="@{/getResults}" th:object="${post}" method="post">
        <!--<form name="mbtiTest" th:action="@{/getResults}" method="POST">-->
        <fieldset>
            <legend>Please answer the following questions:</legend>
            <table class="table table-striped">
                <tr th:each="mbti : ${mbti}">
                    <td th:text="${mbti.id}"><a href="/mbti/${mbti.id}">Id</a></td>
                    <td th:text="${mbti.question}">question</td>
                </tr>
            </table>
            <div>
                    <p><b>Question 1</b> This is the first question?</p>
                        <button type="radio" name="question1" value="EXTROVERSION" style="border: none;">Yes</button>
                            <button type="radio" name="question1" value="INTROVERSION" style="border: none;">No</button>

                    <p><b>Question 2</b> This is the second question?</p>
                        <button type="radio" name="question2" value="EXTROVERSION" style="border: none;">Yes</button>
                            <button type="radio" name="question2" value="INTROVERSION" style="border: none;">No</button>
                    <!--<input type="radio" name="direction" value="EXTROVERSION" >-->
                    <!--<input type="radio" name="direction" value="INTROVERSION" >-->
                    <!--<input type="radio" name="observation" value="SENSING" >-->
                    <!--<input type="radio" name="observation" value="INTUITION" >-->
                    <!--<input type="radio" name="orientation" value="SENSING" >-->
                    <!--<input type="radio" name="orientation" value="THINKING" >-->
                    <!--<input type="radio" name="orientation" value="FEELING" >-->
                    <!--<input type="radio" name="assertion" value="PERCEIVING" >-->
                    <!--<input type="radio" name="assertion" value="JUDGING" >-->
            </div>
            <button type="submit" class="btn">submit</button>
        </fieldset>
    </form>
</div>

<footer class="footer"
        style="position: absolute; padding-top:0; padding-bottom:0; bottom:0; background-color: #f5f5f5;">
    <div class="container">
        <p th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}" class="text-muted">Page was rendered today.</p>
    </div>

</footer>
</body>
</html>



