<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../../../static/images/MBTIUnicorn.png"
          th:href="@{../../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../../static/css/default.css"
          th:href="@{../../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <title>ESTP</title>

</head>
<body>
<h1>ESTP</h1>
<ul>
    <li>Extroversion (E): ESTPs are outgoing and enjoy spending time with a wide circle of friends and acquaintances.</li>
    <li>Sensing (S): ESTPs are interested in the here-and-now and are more likely to focus on details than taking a broader view of things.</li>
    <li>Thinking (T): ESTPs are logical. When making decisions, they place a higher value on objectivity rather than personal feelings.</li>
    <li>Perceiving (P): ESTPs don't like to be pinned down by excessive planning. Instead, they like to improvise and keep their options open.</li>
</ul>

<p>ESTPs Are Extroverted
<br/>As extroverts, ESTPs gain energy from being around other people. In social settings, people with this personality type are seen as fun, friendly and charming. According to Keirsey, people with this personality type are particularly skilled at influencing people. ESTPs are not only great at interacting with other people, they have a natural ability to perceive and interpret nonverbal communication.
</p>

<p>Thanks to these abilities, ESTPs tend to do very well in careers that involve sales and marketing.
</p>

<p>ESTPs Are Realistic
<br/>Because they are so focused on the present world, ESTPs tend to be realists. They are interested in the sights, sounds and experiences that are going on immediately around them, and they have little use for daydreams or flights of fancy.
</p>

<p>As sensors, people with this personality type want to touch, feel, hear, taste and see anything and everything that might possibly draw their interest. When learning about something new, it's not just enough to read about it in a textbook or listen to a lecture – they want to experience it for themselves.
</p>

<p>ESTPs Are Energetic
<br/>ESTPs also have lots of energy, so they can become bored in situations that are tedious or in learning situations that involve a great deal of theoretical information. ESTPs are the quintessential "doers" – they get straight to work and are willing to take risks in order to get the job done.
</p>

<p>When confronted by problems, people with this personality type quickly look at the facts and devise an immediate solution.
</p>

<p>They tend to improvise rather than spend a great deal of time planning.
</p>

</body>
</html>