<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="../../../static/images/MBTIUnicorn.png"
          th:href="@{../../images/MBTIUnicorn.png}" type="image/x-icon"/>

    <link href="../../../static/css/default.css"
          th:href="@{../../css/default.css}" rel="stylesheet" media="screen"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <title>ISFP</title>

</head>
<body>
<h1>ISFP</h1>

<ul>
    <li>Introversion (I): ISFPs are introverted. They tend to be reserved and quiet, especially around people they do not know well. They prefer spending time with a close group of family and friends.</li>
    <li>Sensing (S): ISFPs like to focus on the details. They spend more time thinking about the here and now rather than worrying about the future. They also prefer concrete information to abstract theories.</li>
    <li>Feeling (F): ISFPs care more about personal concerns rather than objective, logical information.</li>
    <li>Perceiving (P): ISFPs like to keep their options open, so they often delay making decisions in order to see if things might change or if new options come up.</li>
</ul>

<p>ISFPs Are Peaceful and Sensitive
<br/>According to Myers-Briggs, ISFPs are kind, friendly, sensitive and quiet. Unlike extroverts who gain energy from interacting with other people, introverts must expend energy around others.
</p>

<p>After spending time with people, introverts often find that they need a period of time alone. Because of this, they typically prefer to intermingle with a small group of close friends and family members.
</p>

<p>While they are quiet and reserved, they are also known for being peaceful, caring and considerate. ISFPs have an easy-going attitude and tend to accept other people as they are.
</p>

<p>ISFPs Are Private and Introspective
<br/>ISFPs are very private and keep their true feelings to themselves. In some cases, they may avoid sharing their thoughts, feelings and opinions with other people in their life, even their romantic partners. Because they prefer not to share their inner-most feelings and try to avoid conflict, they often defer to the needs or demands of others.
</p>

<p>People with ISFP personalities are very in tune with the world around them. They are very much attuned to sensory information and are keenly aware when even small changes take place in their immediate environment. Because of this, they often place a high emphasis on aesthetics and appreciate the fine arts.
</p>

<p>ISFPs Are Practical
<br/>ISFPs prefer practical, concrete information and tend to be "doers" rather than "dreamers." They dislike abstract theories unless they can see some type of practical application for them and prefer learning situations that involve gaining hands-on experience.
</p>

<p>ISFPs have strong values, but are not concerned with trying to convince other people to share their point of view. They care deeply about other people, particularly their closest friends and family. They are action-oriented and tend to show their care and concern through action rather than discussing feelings or expressing sentiments.
</p>

<p>People with ISFP personalities love animals and have a strong appreciation for nature. They may seek out jobs or hobbies that put them in contact with the outdoors and with animals.
</p>

<p>ISFPs are also perfectionists and can be their own harshest critics. Because they place such high expectations on themselves, they often underestimate or undervalue their own skills and talents.
</p>

</body>
</html>